@{
    ViewData["Title"] = "Buscar Gimnasio";
}

<div class="text-center">
    <h1 class="display-4">Buscar el Mejor Gimnasio por Barrio</h1>

    <form method="post" action="/Home/BuscarGym">
        <div class="form-group">
            <label for="barrio">Selecciona un barrio:</label>
            <select class="form-control" id="barrio" name="barrio" required>
                @foreach (var gym in ViewBag.Gyms)
                {
                    <option value="@gym.Neighborhood">@gym.Neighborhood</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    @if (ViewBag.Gym != null)
    {
        var gym = ViewBag.Gym as Gym;
        <div class="col-md-4 mb-4">
            <div class="card gym-card">
                <img src="@gym.GImageUrl" class="card-img-top gym-img" alt="@gym.Name">
                <div class="card-body">
                    <h5 class="card-title">@gym.Name</h5>
                    <p class="card-text">@gym.Neighborhood</p>
                    <p class="card-text"><small class="text-muted">@gym.Address</small></p>
                </div>
            </div>
        </div>
    }
</div>
