<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GYMBLOG</h1>

    <div class="blog-posts">
        @foreach (var post in ViewBag.BlogPosts)
        {
            <div class="card mb-3 blog-card">
                <img src="@post.RutaImg" class="card-img-top" alt="@post.Titulo">
                <div class="card-body">
                    <h5 class="card-title">@post.Titulo</h5>
                    <p class="card-text">@post.Descripcion</p>
                    <a href="@post.Url" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        }
    </div>

    <div class="force-calculator mt-5 p-3">
        <h2>Calculador de Fuerza</h2>
        <form method="post" action="/Home/CalcularFuerza">
            <div class="form-group">
                <label for="peso">Peso levantado (en kilos)</label>
                <input type="number" class="form-control" id="peso" name="peso" required>
            </div>
            <div class="form-group">
                <label for="repeticiones">Número de repeticiones:</label>
                <input type="number" class="form-control" id="repeticiones" name="repeticiones" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Calcular</button>
        </form>

        @if (ViewBag.Resultado != null)
        {
            <div class="mt-3">
                <h4>Resultado: @ViewBag.Resultado kgs</h4>
            </div>
        }
    </div>
</div>
</body>
</html>
